# All the required dependecies for the PatrolBot subsystems

# necessities
numpy >= 1.17.3

# gui
PyQt5 ~= 5.15.6

# obj detection
# https://pypi.org/project/opencv-python/
# opencv should not contain any GUI functionality,
# PyQt5 is used for the GUI
opencv-python-headless ~= 4.5.4.58

# for manual controls
pynput == 1.7.5
